services:
  api:
    build:
      context: ./fastapi/

    volumes:
      - ./fastapi:/app
    ports:
      - 8000:8000

  collection-services:
    build:
      context: ./collection-services/

    volumes:
      - ./collection-services/:/app

  
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}